.instructor-dashboard-wrapper {
  @extend .table-wrapper;
  display: table;

  section.instructor-dashboard-content {
    @extend .content;
    padding: 40px;
    width: 100%;

    h1 {
      @extend .top-header;
    }

    .viz-grade-distrubtion {
      width: 300px;
      height: 200px;

      .tickLabels .xAxis .tickLabel {
        margin-left: 10%;
      }
    }

    .viz-enrollment-change {
      width: 300px;
      height: 200px;
    }
  }
}

